[2020-09-09 18:17] lylavoie opened #2 "Start up"
Please add me as a contributor or committer on the project.  Also, I would recommend we rename master to main for our branching structure to get things kicked off.

[2020-09-09 18:35] lylavoie opened #3 "License for documentation"
As best practice, we should denote proper copyright on the work (i.e. Open Fabrics Alliance) , as well as the license. I would suggest "Creative Commons Attribution 4.0 International" if the OFA does not already have a specific license used for documentation.

[2020-09-09 21:38] dledford commented on #3
The OFA does indeed have a (proposed) policy regarding exactly this sort of thing.  Merged into main.

[2020-09-09 21:38] #3 closed

[2020-09-09 21:39] dledford commented on #2
Branch has been renamed, please update your fork and any local checkouts.

I have also sent you an invite to join the team.

[2020-09-09 21:39] #2 closed

[2020-09-17 20:37] lylavoie opened #8 "DHCP on fabric networks"
I don't think we should run DHCP on the fabric networks, because there isn't a clean option / location to host that server.  I would prefer we didn't have to propagate those networks / vlans outside of the fabric switches, which will make them more flexible, because we don't have to avoid overlap with other operations / systems in the larger lab (outside of FSDP).

I've removed that from the netwo

[2020-09-17 20:46] dledford commented on #8
It's *highly* desirable to have dhcp running on the various fabrics.  However, that dhcp need not be under beaker control (or even knowledge).  Because there have been specific bugs in the past that rendered IPoIB dhcp broken, not testing it leaves open a path for bugs that should be caught to be missed instead.

We already need one machine to act as a build server.  And we need at least one machi

[2020-09-17 21:03] lylavoie commented on #8
As long as we're comfortable with the configurations / DHCP services running on the build server, that would be ok, and would keep those networks contained to the rack.  Otherwise, we have to align them with the lab.  The downside is, that is one more thing on the build server we have to keep an eye on (all-be-it a small one, since it's likely a fairly static config).  I'll add it back to the figu

[2020-09-18 14:30] dledford commented on #8
Yeah, it won't be a big deal.  The rdma-setup scripts we have handle it automatically.  I have to make those scripts more user friendly before I upload them, and they'll end up being another git repo probably (they're a git repo internally already anyway).

If you put the dhcp back into the image, is it even any longer changed?  Or do we just drop the pull request?

[2020-09-18 15:03] lylavoie commented on #8
I'll update the request, the other parts are changed to list our real IP addresses and VLANs.

[2020-09-18 18:22] #8 closed

[2021-02-02 17:58] dledford opened #15 "Need to install Ethernet switch and cable up cards (once it arrives) then document that here"

[2021-02-02 17:59] dledford opened #16 "Need to install and cable up IB switch (once it arrives) and document that here"

[2021-02-02 17:59] dledford opened #17 "Need to order breakout cables for Ethernet cards"

[2021-02-02 18:00] dledford opened #18 "Need to test manual provision of client machines"

[2021-02-02 18:01] dledford opened #19 "Need to test automated/scheduled provision of client machines"

[2021-02-02 18:18] lylavoie commented on #15
Capturing the discussion for the FSDP meeting, we will start with running SONIC on the EdgeCore switch (WEDGE 100BF-32X).  We will need to ensure the NOS will allow configuration of the flow control and priority settings for the switch ports.

[2021-02-09 17:17] dledford opened #20 "Need to document the builder machine(s)"

[2021-02-09 17:55] dledford opened #21 "Need to set proper permissions on node-* machines"
@lylavoie

Currently, these machines can't be checked out.  Ideally, they should use the permissions from the default pool so you only have to manage one set of permissions, but all users will need reserve permissions to be able to check them out.

Recommended settings for everyone:

View
Loan To Self
Control Power
Reserve

If people abuse the Loan to Self, we might have to take that away.

[2021-02-09 17:56] dledford opened #22 "Password expiration is on"
@lylavoie

If you go into your User->Permissions area of the beaker interface, you have the option to set your own custom root password in beaker.  While the default beaker password rotates, it's nice when a user sets their own custom password that it stays as is indefinitely.  Right now, I set it today, and it's saying it expires in two days.

[2021-02-09 18:08] dledford commented on #15
Test using a 100G-25G breakout on a port set to 40G-10G breakout mode to see if that works.  Once done, we'll place an order for the proper number and speed of breakout cables.

[2021-02-09 18:09] dledford commented on #17
Will order after we know if we can just buy all 100G->25G cables or if we need to specify actual 40->10G breakout cables

[2021-02-09 18:11] dledford commented on #20
Add a new builders.md page to describe the build machine(s), how they can be accessed, etc.

[2021-02-09 18:13] lylavoie opened #23 "Create container builder environments"
This has been started, building on the CKI environments, however, these images can currently only be built from inside Redhat (i.e. points to internal repos).  We will need to either fork the CKI environment, or we will need to work with the CKI team to upstream changes that would allow the containers to built in the wide world.

@shall1024  was looking into this.

[2021-02-09 18:18] dledford opened #24 "Beaker mail items are dropping into a black hole currently"
Beaker sends all sorts of notices that aren't currently going to be able to go through

[2021-02-09 18:25] lylavoie commented on #17
Before ordering, we will test if the breakout 25G cables can be used in a fall back mode to 10G.

[2021-02-09 18:27] dledford opened #25 "Need to add support for Ubuntu to beaker installs"

[2021-02-09 18:27] dledford opened #26 "Need to add support for SuSE beaker installs"

[2021-02-09 18:53] lylavoie commented on #24
IOL email server (postal.iol.unh.edu) should already allow relay from OFA FSDP lab IP address ranges, so beaker just needs to be configured to use this as its mail relay.

[2021-02-09 18:53] lylavoie commented on #24
Also, need to make sure the "reply-to" address is something valid, so if a user replies, we see it.

[2021-02-11 17:59] #22 closed

[2021-02-11 18:01] shall1024 commented on #22
I have changed the setting so that custom user passwords do not expire at all.

[2021-02-11 18:05] shall1024 commented on #21
Everyone has the View, Loan To Self, Control Power, and Reserve permissions in the FSDP Cluster Default Pool now.

[2021-02-11 19:58] dledford commented on #21
@shall1024

This isn't quite fixed yet.  You might have put the right permissions on the pool, but the individual node machines are still all using custom access policies on a per node basis, and that policy doesn't allow reasonable permissions.  You'll need to bring up each individual node, and on the Access Policy tab of each node change the radio box from Use Custom Access Policy to Use policy

[2021-02-11 20:29] shall1024 commented on #21
Hi Doug,

This should be fixed now, for all ten nodes. I apologize for missing this
step. Please let me know if there are still issues with the access policies
of the nodes.

-Sarah

On Thu, Feb 11, 2021 at 2:59 PM Doug Ledford <notifications@github.com>
wrote:

[2021-02-11 21:41] dledford commented on #21
Well, I can access the nodes now.  But they are still using a custom policy per node, which means any changes you want to make in the future must be done on each and every node.  You probably want to set them to use the access policy from the pool, which is already a much more complete profile in that it has separate perms for fsdpchairs, admins, and everyone else.  Right now, they only have one p

[2021-02-11 22:27] dledford opened #27 "Unable to manually provision any OS other than Fedora 31"
The list of available OSes does not populate during manual provision.

To replicate, check a machine out for manual operation (use the Take button under the owner and how long the machine has been idle in the top row of widgets on the page), then go to the Provision tab, try to select the OS Family and there will only be Fedora31 present, none of the other families are in the list.  Checking the E

[2021-02-11 22:35] dledford opened #28 "Need to create technology specific pools and assign machines to them"
One of the methods used to select machines for tests is to have the automated scripts select from various pools based upon their needs.  For instance, if you are wanting to run tests of OPA, then you would select from the opa pool of machines (we used rdma-opa inside Red Hat, but only because our beaker instance has lots of non-RDMA machines and we wanted to guarantee our pools were unique).  The

[2021-02-16 18:44] lylavoie commented on #17
Current cable count looks to be the following, not counting Mellanox cards (not yet in the lab).
- 25G breakout cable - one needed
- 100G cable - 6 needed

The above assumes all ports on all cards are connected (i.e. 2-port card have both ports connected), if this is not required, only the additional 25G breakout cable is needed.

There will be a PR soon that captures the current Ethernet Fabric w

[2021-02-17 18:27] shall1024 commented on #21
This should be resolved now; all ten nodes are assigned to use policy from pool.

[2021-02-17 18:27] #21 closed

[2021-02-17 20:00] shall1024 commented on #24
It turns out Beaker was not enabled to send email notifications at all, so that setting is now on.
It now will send emails to ofalab@iol.unh.edu if someone reports a problem on a device, and it sends email notifications to a user when their jobs finish/if their jobs are cancelled/if their jobs are aborted.

Are there other situations you would like us to test? Is the administrator supposed to rece

[2021-02-17 20:21] shall1024 commented on #27
Imported the other families we currently have hosted at https://beaker.ofa.iol.unh.edu/distros/ (Except for Ubuntu as we need to resolve [#25](https://github.com/OpenFabrics/fsdp_docs/issues/25) first.

Please let us know if there are other RHEL/Fedora OSes we should import.

[2021-02-17 20:24] shall1024 commented on #15
Currently we need the following cables to complete this task:

* 2 Intel 100G Cables
* 4 Broadcom 100G Cables
* 2 breakout cables (4 lanes, 25G each)

[2021-02-19 21:11] dledford commented on #15
Is there a specific length you want for these?  I would suspect that 1m cables would work given how few machines there are in the rack so far.  If not 1m, then certain 2m is plenty long enough, yes?

----- Original Message -----

--
Doug Ledford <dledford@redhat.com>
              GPG KeyID: 0E572FDD

[2021-02-19 21:12] dledford commented on #24
Normally we get notifications to machine owner for loan requests and for whenever a machine goes offline in addition to the items you listed.  That would cover all the email alerts that we have enabled and that I know of.

----- Original Message -----

--
Doug Ledford <dledford@redhat.com>
              GPG KeyID: 0E572FDD

[2021-02-19 21:24] lylavoie commented on #15
Yes, 1m please

[2021-02-23 18:08] #24 closed

[2021-02-23 18:12] lylavoie commented on #23
Will start with a target of getting OpenMPI to compile within the container, building containers for RHEL7, and RHEL8.

[2021-02-23 18:39] lylavoie commented on #20
As part of this issue, let's setup HTTPD to server out public from people's home directories and document how they can use that or sshfs to access the contact from builder while working on a test node. That will give two different options to support access to the builder home directories.

Builder does already serve its home directories via NFS4, but permissions are controlled through Kerberos, so

[2021-02-25 18:42] shall1024 commented on #27
The OSes are in Beaker but there are various errors when trying to provision anything other than Fedora 31.

[2021-02-25 18:48] shall1024 opened #29 "Configure SONiC OS on the Ethernet switch"
SONiC.master.125-dirty-20210216.022428 is now installed on the Edgecore Ethernet switch. Please let us know how you would like us to configure it, and we will apply the necessary configurations.

[2021-03-01 21:43] dledford commented on #15
I've picked out the cables and sent the cart to Jim to have LF place the order on a OFA credit card.

[2021-03-01 21:44] dledford commented on #15
The cables are just coming with a Cisco compatible ID.  They didn't have Broadcom or Intel in the list unless you ordered custom cables, which come from Asia and take much longer for shipping.

[2021-03-01 21:45] dledford commented on #17
Breakout cables were ordered.  See comments in issue #15

[2021-03-01 23:23] dledford commented on #29
In the past, I did one vlan for no priority, which was intended not to be used with RoCE, made that the primary vlan for the RoCE ports, then created two other vlans accessible as tagged vlans on the RoCE ports that used PFC tagging and were intended to work properly with RoCE.  I found this setup to be problematic in terms of users not realizing they can't use the bare interface for RoCE work.  I

[2021-03-05 14:44] lylavoie commented on #17
Have have arrived, closing this issue.

[2021-03-05 14:44] #17 closed

[2021-03-05 14:45] lylavoie commented on #15
Cables have arrived, once installed, we'll update the switch documentation, and close this issue.

[2021-03-08 19:29] shall1024 commented on #15
Cables have been installed, and the documentation has been updated.

[2021-03-08 19:29] #15 closed

[2021-03-11 21:46] shall1024 commented on #29
Will RoCE and iWARP be over different ports on the switch? If you intend to have an untagged VLAN for both RoCE and iWARP, they must be using different ports on the switch. Please let us know what port(s) we should use for each, or if any changes need to be made to the current planned VLAN configuration. Thank you.

[2021-03-15 16:07] dledford commented on #29
Yes, RoCE and iWARP will be over different ports.  In the one case of the builder machine, we will configure it as a base RoCE device, but then add the iWARP ports as extra tagged vlans.  We have to configure its interface slightly differently as a result, but it works fine.  It allows the builder to serve dhcp without a problem.

[2021-03-15 17:02] dledford commented on #27
As per issue #18, this is mostly now working.

[2021-03-15 17:04] dledford opened #31 "fsdpchairs group in FSDP cluster pool has lost reserve permission"
We can no longer check machines out without first loaning them to ourselves (which is highly undesirable, we want to avoid loans as much as possible as even when a reservation is done, if the loan isn't also released, the scheduler won't recognize the machine as usable again).

[2021-03-15 17:09] dledford opened #32 "Beaker snippets are not additive in certain situations"
I had hoped that we could do something like the following:

per_osmajor/packages/RHEL7:
%packages
rdma-core
libibverbs-utils
librdmacm-utils

per_machine/packages/node-01:
libhfi1
opa-ff

The idea was that we would have the core RDMA packages in the per_osmajor set, and then in the per_machine set just add the ones specific to the hardware installed in that machine.  It didn't work out that way.

[2021-03-17 13:28] shall1024 commented on #31
I have added the "reserve" permission to the fsdpchairs group.

[2021-03-17 13:28] #31 closed

[2021-03-18 18:36] shall1024 commented on #18
I logged into node-05 without trying to provision the machine again and it seems like Fedora 33 never installed; the last OS I installed onto the node is what's currently on the system.

I suspect it's the same issue I've had with trying to reserve the system automatically where it "failed to find repo for harness" and aborts almost immediately after trying to reserve the system, without even begi

[2021-03-23 17:31] shall1024 opened #33 "Investigate GitHub Beaker repo"
See if the version of Beaker up on GitHub (or an earlier, tagged release) is newer than the "pre-packaged" version of Beaker we are using/if it is more appropriate for our use (more up-to-date harnesses, etc.)

[2021-03-26 14:39] shall1024 commented on #33
The latest version of Beaker on GitHub is 28.2; the version we have is 28.1. It's possible to upgrade Beaker on our systems without using the GitHub repo to this newest version. It seems like it is most up-to-date for us to use the "pre-packaged" version of Beaker + upgrades as they come available.

[2021-04-06 17:10] #27 closed

[2021-04-06 17:11] dledford commented on #27
Closing because issue is handled.  There are distros without a working harness, but that's being tracked in another issue.

[2021-04-06 17:11] lylavoie commented on #23
CKI containers will not work directly, because they point to internal repos that are available directly.  We'll need to reproduce the container environment, but pointing to public facing repos.

[2021-04-06 17:12] dledford commented on #29
VLAN setup is complete.  Finishing up the setup for the breakout ports.

[2021-04-06 17:25] lylavoie opened #34 "Setup DHCP service on builder-00 for fabrics"
Set up the DHCP service on the builder-00 server, OPA fabric is ready now.

OmniPath fabric is ready now.
Ethernet / IB fabrics are pending last hardware to arrive.

@dledford do you have the pointer the scripts you mentioned on the call for building the DHCP file.

[2021-04-06 17:35] shall1024 commented on #19
Automated/scheduled provision of client machines is, more or less, in the same state as manual provisioning. Currently the following distros provision and report correctly:

- RHEL 7.9
- Fedora 32

The following distros provision correctly but do not have a valid test harness, therefore, results are not reported correctly (check-install appears to fail and users are never given email notification

[2021-04-07 21:38] dledford commented on #34
Yes.  There are two things that implement the dhcp server setup from the fsdp_setup repo:

From rdma-functions.sh we get the definition of our fabric networks:

# Defines of all our network fabrics so we don't have to define these
# in multiple places
ib0_2k_nets=(ib0 ib0.2 ib0.4 ib0.6 ib0.8)
ib0_4k_nets=(ib0.10 ib0.12 ib0.14 ib0.16)
ib0_nets=(${ib0_2k_nets[*]} ${ib0_4k_nets[*]})
ib1_2k_nets=(ib1

[2021-04-07 21:42] dledford commented on #34
I forgot to mention, that creates the dhcpd.conf.base file that is on the dhcp server, and it copies over individual files for the necessary host entries to put in the dhcpd.conf file, and then there is the gen_dhcpd_conf script in the fsdp_setup repo that handles actually putting all the file parts together into a single file.  This might not be necessary if we can include a .d directory with all

[2021-04-07 22:42] dledford commented on #32
@shall1024

New set of potential snippets has been pushed to fsdp_setup repo, please pull and then we can test.

In particular, any of the RHEL installs should:
1) Use the epel repo during install, and have it enabled after the install completes
2) Install the expanded package list, including a number of epel packages
3) git clone the fsdp_setup repo and attempt to run the setup
4) No longer have

[2021-04-08 18:10] lylavoie commented on #33
From the April 6 meeting, need to see if the Beaker GitHub repo provides the materials to create the RPM package for beaker, and if so, what it would take to make it easy to build / install that RPM package, so we can closely track the GitHub version.

[2021-04-08 19:39] shall1024 commented on #32
@dledford , the snippets are pulled to beaker.ofa.iol.unh.edu and are ready to be tested. Please let us know if there's anything you would like us to test on our end.

[2021-04-09 17:13] shall1024 opened #35 "No slot available for MCX653106A-HDAT in builder-00"
MCX653106A-HDAT requires a PCIe x16 slot, but builder-00 currently does not have one available:

PCIe slot 1 (x16 full height): Intel Omni-Path 100HFA016LS adapter
PCIe slot 2 (x8 half height): None (but too small)
PCIe slot 3 (x16 half height): Unavailable due to installed RAID card

[2021-04-13 15:06] shall1024 commented on #33
As far as I can tell, the Beaker GitHub repo does not provide the materials to create the RPM package for Beaker. It seems to only have some source code and documentation, no materials for installation at all/no RPM package files.

[The installation for the latest version of Beaker](https://beaker-project.org/docs/admin-guide/installation.html) is done via [yum repositories](https://beaker-project

[2021-04-13 16:15] shall1024 commented on #28
The first list of suggested pools is complete to the best of our ability so far (ib pool has not been populated). Specific brands are still in process, they are somewhat populated but still need to confirm the technologies supported on some of the cards.

[2021-04-13 17:03] lylavoie commented on #28
@shall1024  can you add a comment here of the list that are left "ToDo."

[2021-04-13 17:06] lylavoie commented on #33
If it doesn't include the RPM Spec files to build an package to install, maybe this would be worth submitting to the project to make it easier for users to build / install.

[2021-04-13 17:29] lylavoie commented on #35
Remove the raid controller.  Move the two drives to SATA connection and then re-install / rebuild the system using a software raid.  Move the riser card from the test node we pulled the MCX card from.  Doug will order another riser card to replace the "stolen" one and we'll use that when the 3'rd MCX card arrives.  Need to confirm if we need any special cables for the SATA connections.

[2021-04-13 17:49] lylavoie commented on #33
Need to look into setting up a process to build the RPM package. We can likely grab the "starting" spec files from the RPM Source of the actual RHEL package, and then update that with new version information, etc.  We'll need to decide where we want to track those changes to the spec files, etc, i.e. an IOL repo or a repo on the OFA github, etc.  Just to streamline the process.  Right now, this is

[2021-04-13 18:37] lylavoie commented on #35
@dledford We need to order HPE Spare Part P07471-001, which is the 8SFF SATA cables for the front drive bays.  This is in addition to the riser card needed as well.

[2021-04-13 19:36] dledford commented on #35
Part P07471-001 has been ordered direct from HPE, should be there Friday.  The riser card will take longer.  It wasn't available direct from HPE, so I'm having Jim order it from CDW, where the ship time is estimated at 6-10 days.

[2021-04-13 20:39] shall1024 commented on #19
I am in contact with the Beaker folks and we should have a Fedora 31 harness shortly.

I fully upgraded the lab controller, and the same Fedora 33 error persists. [This bugzilla ticket](https://bugzilla.redhat.com/show_bug.cgi?id=1874023) has an answer from Martin Styk that makes me a bit worried, but I recall that Fedora 33 testing has been done successfully with Beaker, plus there is indeed a Re

[2021-04-20 16:38] shall1024 commented on #32
@dledford , the updates have been pulled to beaker.ofa.iol.unh.edu and are ready to be tested. Please let us know if there's anything you would like us to test on our end.

[2021-04-20 16:50] shall1024 commented on #29
Dynamic Breakout Port commands are not working with SONiC, we have created an issue with the SONiC developers, still waiting on a response: https://github.com/Azure/sonic-buildimage/issues/7311

[2021-04-20 17:20] lylavoie commented on #33
When we look into making sure the SPEC file is fixed to not delete or replace the config files in /etc.

[2021-04-20 17:26] lylavoie opened #36 "Auto-pull / update beaker snippet files on beaker"
Set up the beaker system to automatically update the beaker snippet files from a repo, so the system tracks the main branch of the repo.

[2021-04-20 20:54] shall1024 commented on #36
@dledford , based on my research on trying to clone a subdirectory via git instead of the entire git repository, along with the version of Git we have on the beaker server, I think it may be simplest and fastest to create a new Git repository for the Beaker snippets.

It should consist only of a folder named `snippets`, and the contents should be identical to the `beaker_snippets` directory from f

[2021-04-21 14:06] dledford commented on #36
New repository fsdp_beaker_snippets has been created and contains the directory snippets/ with all the data moved over from the other repo.

[2021-04-27 16:58] lylavoie opened #37 "Space for Mellanox Cx6541106A (200G) cards"
Each "card" requires two 16x PCI slots in the test host, there are no open 16x slots in the current hosts.

[2021-04-27 17:01] lylavoie commented on #35
builder-00.ofa.iol.unh.edu has been reinstalled with software RAID, HPE raid card removed, and 16x slot 3 is available and populated with the MCX653106A-HDAT card (moved from node-08.iol.unh.edu), until the replacement arrives.

[2021-04-28 13:14] shall1024 commented on #36
There is a cron job on `beaker.ofa.iol.unh.edu` running every five minutes that auto-pulls the Beaker snippets from the main branch of `fsdp_beaker_snippets` and moves them to the correct folder so Beaker can use them.

[2021-04-28 13:14] #36 closed

[2021-05-04 17:01] shall1024 commented on #29
We got a response from the SONiC developers on the issue, had issues pulling some packages required for the update from source so another issue was created [here](https://github.com/Azure/sonic-swss/issues/1734) that we're waiting on a response for.

[2021-05-06 16:49] shall1024 commented on #32
We are looking into issues with "beaker-create-kickstart", as provisions seem to not be pulling in snippets correctly/using beaker-create-kickstart correctly.

[2021-05-06 20:38] shall1024 commented on #16
@dledford Currently we need the following cables to complete this task:

    2 Mellanox 100G IB Cables
    2 Broadcom 200G IB Cables

[2021-05-07 17:18] dledford commented on #16
I'm confused.  Broadcom doesn't do IB, so 2 Broadcom 200G IB cables makes
no sense.  Do you mean 2 Broadcom 200G Eth cables?

And is this just to hook up second ports on dual port cards, or is this
needed to hook up the first ports on the cards?

On Thu, May 6, 2021 at 4:39 PM shall1024 ***@***.***> wrote:

[2021-05-11 13:11] shall1024 commented on #16
My apologies, I'm not sure why I typed Broadcom, it should be **Mellanox 200G IB cables**. I edited the comment above.

We have two each of the following:
**Mellanox MCX653106A-HDAT 200G 2-port
Mellanox MCX556A-ECAT 100G 2-port**

I connected **both ports** of one of each type of card, leaving one of each card not connected to the switch.

Please let me know if I should change it so all four cards

[2021-05-11 17:25] shall1024 opened #38 "Beaker snippets not being pulled during provisioning"
@dledford reports that RHEL provisions are not pulling the snippets we have defined in `/etc/beaker/snippets`, and is instead using the default Beaker snippets.

Currently, we are running provisions to see if the issue is consistent across all users or not; in my provisions, Beaker is at least using the snippets during installation but I will need to check if the kickstart file saved on the provis

[2021-05-11 18:05] shall1024 commented on #38
I ran a provision of RHEL 7.9 on node-06, which generated the following `anaconda-ks.cfg`:

`#version=DEVEL
# Use text mode install
text
# Firewall configuration
firewall --disabled
firstboot --disable
ignoredisk --only-use=sda
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts=''
# System language
lang en_US.UTF-8

# Network information
network  --bootpro

[2021-05-11 18:22] dledford commented on #38
I think we need to be clear about *how* we are installing the machines.  I've been manually provisioning the machines, so that means I have to loan the machine to myself (I shouldn't have to do this step, but I do for some reason), then I can take the machine, then I click on the Provision tab and I manually provision the machine.  The other way is to do an automated provision, and I think that's

[2021-05-11 19:38] shall1024 commented on #38
@dledford , the reason that your version did not have the test harness was because I omitted the EPEL repo line from my install. This was because of the issue I mention above; we definitely need some sort of --nogpgcheck option to get the EPEL repo into the provision so the test harness is pulled correctly.

Otherwise, it seems like manual and automatic provisions yield the same results. I'm still

[2021-05-11 20:33] shall1024 commented on #38
While I work on seeing if I can find any configuration problems that might cause this issue, I created a [bug ticket](https://github.com/beaker-project/beaker/issues/131) for the Beaker folks, just in case. Nothing on the beaker-project website suggests that for any reason `system_post` should be ignored, nor do any config files seem to suggest this.

[2021-05-13 16:45] shall1024 commented on #38
@dledford , https://github.com/beaker-project/beaker/issues/131#issuecomment-840167372 + some tests I've run today lead me to believe that the global per_osmajor is being ignored because we have one for per_lab, which takes precedence.

[2021-05-13 16:54] dledford commented on #38
The per_lab post snippet can probably be completely deleted, file and all.
It's a carbon copy of the pre and I doubt we need it both places.  But, if
we do, we can always move the per lab post snippet to the global post
snippet and merge it with our current global post snippet

On Thu, May 13, 2021 at 12:46 PM shall1024 ***@***.***> wrote:

[2021-05-13 16:57] shall1024 commented on #38
Sounds great, I will delete the snippet and see if the system_post is pulled. If it is, I plan to close the issue; please let me know if there's another snippet issue I've missed.

[2021-05-14 16:55] shall1024 commented on #37
We are going to move the card in PCI slot 1 of node-09 to PCI slot 1 of node-03, this will free up two 16x PCI slots in node-09 for one of the Mellanox Cx6541106A cards.

This only leaves one remaining 16x PCI slot open across all hosts, so we still cannot install one of the cards.

[2021-05-14 19:25] shall1024 commented on #16
**One port** of each type of card listed above is now connected to all four cards listed above.

Currently, our cable needs are as follows for the **Mellanox CX654106A 200G** cards:

[code]

[2021-05-14 19:36] shall1024 commented on #28
Done:
opa
opa-hfi1
roce
roce-intel
iw/iwarp
iw-chelsio
iw-intel

To Do:
roce-mlx4
roce-mlx5
roce-mlx5-advanced
roce-qede
roce-bnxt
roce-bnxt-advanced
ib-mlx4
ib-mlx5
ib-mlx5-advanced

[2021-05-18 17:09] dledford commented on #35
Riser and card reinstalled in node-08

[2021-05-18 17:09] #35 closed

[2021-05-18 17:10] dledford commented on #37
Bifurcated PCI card installed in node-09, second card put away as spare for when we have more client machines

[2021-05-18 17:10] #37 closed

[2021-05-18 17:14] dledford commented on #32
Snippets aren't additive because they are prioritized.  The highest priority/most specific snippet is used in preference to more generally applied snippets.  Not a bug/issue.

[2021-05-18 17:14] #32 closed

[2021-05-18 17:23] dledford opened #39 "Enable httpd and user home directory support on builder-00"
This is so users can build stuff in their home directory and easily access if on the node-* machines

[2021-05-18 18:59] shall1024 commented on #38
@dledford, the pull request has been created [here](https://github.com/OpenFabrics/fsdp_beaker_snippets/pull/3) and all systems should be free for testing, please let us know if you have any issues with any of the test nodes.

I'm going to keep this issue open for now until I confirm that the snippets are correct for all distros. I will test this at a later date when the nodes are free.

[2021-05-18 19:00] shall1024 commented on #19
Fedora 33 now begins installation correctly. With the fix I found, I am confident RHEL 8.2 might work better as well.

I will test both of these when Doug is finished running the setup scripts on all 10 nodes.

[2021-05-20 16:46] shall1024 opened #40 "Beaker log storage"
As far as we can tell, the only way to change the location Beaker stores logs by default is by editing **/lib/python2.7/site-packages/bkr/labcontroller/default.conf** . We don't want to do this as the file is overwritten every time we upgrade Beaker.

Beaker documentation seems to suggest [we create a log archive server](https://beaker-project.org/docs/architecture-guide/log-storage.html), so this

[2021-06-01 16:56] shall1024 commented on #29
SONiC developers have suggested reinstalling a newer version of SONiC with the fix, currently working on this.

[2021-06-01 16:58] shall1024 commented on #23
Currently working on simple Dockerfiles for RHEL7 and RHEL8 container images, somewhat based on the CKI approach but using our own scripts/dockerfiles.

[2021-06-04 17:53] lylavoie commented on #39
This is done, httpd home directories work.   Currently users have to create the public_html directory.  Selinux will set the right file context on the directory when created.  I did run into a very strange issue, that I have not been able to solve. If I add public_html to the /etc/skel, it will cause the mkhomedir oddjob to fail.  It's blocked by something selinux related, but I have not been able

[2021-06-04 17:53] #39 closed

[2021-06-04 19:15] lylavoie commented on #34
Also, TFTP is now up and running on builder-00.ofa.iol.unh.edu, and any of the test nodes should be able to create files as needed in /hosts.d/ (relative to the tftp root).  So, now we just need to decide how builder is going to "consume" those files, when they are uploaded.

[2021-06-07 19:25] shall1024 commented on #29
The newer version of SONiC has a bug that I reported [here](https://github.com/Azure/sonic-buildimage/issues/7811). Interestingly enough, this version seems to have a completely different configuration file scheme than previous versions.

I attempted to install many older versions of SONiC that supported dynamic port breakout but they all had different problems, so for now, I think this is the bes

[2021-06-08 16:51] shall1024 commented on #19
**Distros that provision correctly:**
Fedora32
Fedora33
RHEL 7.9

**Distros that do not provision correctly (Installation completes successfully, but harness issues prevent proper reporting):**
Fedora31 (Beaker sent us the harness, but need to get Beaker to use it. Low priority for now due to the fact that f31 is relatively older)
RHEL 8.2

**Untested:**
Fedora34

[2021-06-08 16:56] shall1024 commented on #23
Simple Dockerfiles have been created for RHEL 7 and 8 that have been used to build container images using `podman`.
These Dockerfiles can include any packages we want for these container images. Please let us know if there are lists of required packages for each distro.

It seems like, for our current purposes of getting some container images created so users can start using them, we do not need t

[2021-06-08 17:01] shall1024 opened #43 "Rootless podman configuration"
Rootless podman was configured correctly on builder-00 before it was wiped to support software RAID; need to get this configured again so regular users can run container images.

[2021-06-08 17:45] dledford opened #44 "Unable to manually provision a machine without first loaning it to myself"
At some point in the past, I used to be able to bring up a machine's page, and in the little area that it shows the current machines status, if it was idle, I was allowed to Borrow the machine or Take the machine, either one.  Now, the Take button is missing and only the Borrow button is present.  If I Borrow the machine, then I get a Take and Return Loan buttons.  Once I Take the machine, then I

[2021-06-08 17:46] dledford opened #45 "Permissions on the FSDP pool need a minor update"
While we want the FSDP chairs to be able to loan to anyone, Everyone should probably not have that privilege.

Also, FSDP chairs should have view permission on the machine.  Right now they can view anyone because everyone has it, it's just odd that they don't.

[2021-06-08 17:49] dledford opened #46 "Reserve Workflow not working"
It's possible to use the command line to submit a reserve job, but you are supposed to also be able to use the GUI to do so.  After I Borrow a machine, then Take the machine, then go to Provision, there is a link present that says if I want to, I can use the Reserve Workflow to reserve the machine.  When I try to do that, it takes me to the Reserve Workflow page, I select a distro, it already has

[2021-06-08 17:55] dledford commented on #45
In addition, Edit System Details would a nice to have for the FSDP chairs.  That allows us to make updates to the system, such as having the ability to re-run the hardware scans when the hardware has been updated, and to edit the Model field to allow people to see the types of cards in the systems without having to bring up separate documentation like we do inside Red Hat, as so:

rdma-dev-00.lab.

[2021-06-08 17:57] dledford commented on #44
@shall1024 Here's the new issue for you as per the call today

[2021-06-08 17:57] dledford commented on #46
@shall1024 This issue is related, but not necessarily the same, so I split it from the other one.

[2021-06-08 17:58] dledford commented on #45
@lylavoie I opened this issue, but you'll need to consider internally if you want to give the chairs edit details permission.  I don't  *think* we can do much, if any, damage with it, but I haven't checked either.

[2021-06-08 18:10] dledford opened #47 "Need to add rhel8.3 to the installable distros"

[2021-06-08 18:10] dledford opened #48 "Need to add rhel8.4 to the installable distros"

[2021-06-08 18:10] dledford opened #49 "Need to add rhel8.0 to the installable distros"

[2021-06-08 18:10] dledford opened #50 "Need to add rhel8.1 to the installable distros"

[2021-06-08 18:42] dledford opened #51 "Need serial console access to node machines"
This generally requires either a) we share login information to the/an iLO account or b) setup a console server that knows how to login to the iLO but only requires a valid login in the kerberos domain to access it (we use Cyclades terminal servers configured to login to the machine's iLO SoL port and log it and allow users to login to the console at Red Hat...but those units are discontinued last

[2021-06-08 20:21] shall1024 commented on #23
According to [this link](https://docs.fedoraproject.org/en-US/packaging-guidelines/MPI/), Fedora does not have `mvapich1` or `mvapich2`, only `mpich`. Please let me know if this is correct. For the first Dockerfiles, I am going to use `mpich` for all Fedora distros we support.

[2021-06-08 20:37] dledford commented on #23
@shall1024 you are correct, Fedora doesn't have mvapich2, that's RHEL only.  Forgot about that.  I wouldn't both with mpich, it doesn't support RDMA.  The only reason I listed the programs I did is because once you satisfy their BuildRequires: elements, you will probably have all of the needed packages to have a usable build environment for everything else.  Because mpich doesn't use RDMA, whateve

[2021-06-08 20:54] shall1024 commented on #23
Will we still need python3-pyverbs for Fedora?

It seems like Fedora31 doesn't readily have python3-pyverbs, but maybe it's in another repository I need to add.

[2021-06-08 21:14] dledford commented on #23
pyverbs is part of rdma-core, so as long as you have the most recent rdma-core for a given Fedora release, you'll have whatever pyverbs support that Fedora has.  Since pyverbs is relatively new, if they haven't updated the rdma-core on an older Fedora release, it won't have pyverbs.

[2021-06-09 19:11] shall1024 commented on #51
There is a problem with console output; it seems like it is no longer being saved by Beaker at all, when looking at the console logs files on beaker:

![image](https://user-images.githubusercontent.com/71143113/121414448-a2b22b80-c934-11eb-9772-5bbfce9c8ee3.png)

I believe normally, any user should be able to view console output on any jobs they have submitted via the Beaker web interface. We can

[2021-06-09 20:07] shall1024 commented on #51
The above issue is solved; needed to restart the conserver service. @dledford , when you submit another job, please let us know if you have console log access. You should be able to access it from within the recipes within the jobs you submit; above the remaining watchdog time, you should see a link that says "Console Output".

[2021-06-10 13:40] dledford commented on #51
I used manual provisions, there is no job related to it and no recipe, so I have no link to view the logs.  However, if you add the command inst.sshd to the kernel command line options for a node, you can ssh into the machine during the install and view the logs directly.  That's what I've been doing to debug things right now.

[2021-06-10 13:50] lylavoie commented on #51
Is it possible to find them directly in the logs:
https://beaker.ofa.iol.unh.edu/logs/

Cheers,
Lincoln

On Thu, Jun 10, 2021 at 9:40 AM Doug Ledford ***@***.***>
wrote:

--
*Lincoln Lavoie*
Principal Engineer, Broadband Technologies
21 Madbury Rd., Ste. 100, Durham, NH 03824
***@***.***
https://www.iol.unh.edu
+1-603-674-2755 (m)
<https://www.iol.unh.edu>

[2021-06-10 13:57] lylavoie commented on #51
In terms of access.  If we need users to have access to the SOL or similar for iLO, my preference would be to purchase / install the iLO licenses, which will enable support for RADIUS / LDAP on the iLO, which means user access is tied to their login and not a shared password, etc.

Second approach is to use a Cisco ISR with the Async card installed, which is basically an advanced terminal server.

[2021-06-10 13:58] shall1024 commented on #51
That link only contains recipe/job logs; not the console logs. Console logs are stored in a slightly different location, and we can't store them in this area due to how Beaker stores its recipe/job logs.

I think it should be easy to make the console logs accessible in a similar manner to these logs, however, if this is what we want to do.

[2021-06-10 14:54] dledford opened #52 "Fedora 33 beaker install needs updated"
@shall1024
My Fedora 33 installs are failing due to package dependency resolution failures.  In the logs, I noted the following:

[code]

I'm not gonna bother going through it in detail, just suffice it to say that the base repo is the DVD (which is what we want in general), but the DVD is a Beta release.  The updates repo is the actual upstream mirrorlist so it always has the latest packages.  Th

[2021-06-10 15:34] dledford commented on #51
@lylavoie @shall1024
I would recommend we just update the default install options to include inst.sshd.  For Fedora and RHEL releases of modern age, that means it enables a passwordless root ssh access during the install.  So, if the install hangs, ssh in and see what's up.  That's how I've been debugging things this morning and it's working quite well.

[2021-06-10 18:55] shall1024 commented on #45
FSDP chairs now have "View" and "Edit System Details" permissions in the FSDP Cluster Default Pool.

Everyone has had the "Loan to Anyone" permission removed in the FSDP Cluster Default Pool.

[2021-06-10 18:55] #45 closed

[2021-06-10 20:09] shall1024 commented on #51
inst.sshd has been added as a default install option to node-10, and I see this option has been added to all 9 other nodes. This seems like a good solution.

Let us know if there is anything else we need to do with the console logs/if there is other information you need access to, otherwise I will close the issue.

[2021-06-10 23:12] dledford commented on #51
It seems like it will mostly work.  It works with the recent Fedora releases, and it works for most of the rhel8 releases, it doesn't work on rhel7, rhel8.0 and rhel8.1 I think.  Just too new of an option for those releases.

[2021-06-11 18:08] shall1024 commented on #44
Wasn't able to find a fix from looking at documentation and trying new access policies, created an issue for Beaker upstream [here](https://github.com/beaker-project/beaker/issues/133)

[2021-06-11 18:14] shall1024 commented on #46
Did you click on the single option listed in the "Distro Tree" box?

![image](https://user-images.githubusercontent.com/71143113/121731644-39aaef00-cabf-11eb-864f-f2472faf1124.png)

"Submit Job" will not do anything until this is selected. I agree it is unclear that this is a required option.

[2021-06-11 20:31] shall1024 commented on #49
RHEL 8.0, 8.1, 8.3, and 8.4 have been added to Beaker, but we are still having difficulties getting Beaker to install them correctly.

[2021-06-11 22:26] dledford commented on #49
Yeah, I'm seeing the same thing.  I think the missing element is given by this in the logs:

[code]

This is in spite of the fact that the network is up and I'm ssh'd into the machine.  IIRC, with rhel8 we need something like network=ksdevice or something like that on the kernel command line during install or else anaconda won't automatically use the network interface we booted from.  Let me go ch

[2021-06-11 22:31] dledford commented on #49
Possible fix merged into upstream. Will test next week.

[2021-06-14 15:03] shall1024 commented on #52
The Fedora 33 iso has been updated to be the final release DVD instead of the beta DVD.

[2021-06-14 16:37] dledford commented on #49
Possible fix didn't resolve the problem.

I'm not entirely sure the problem isn't one of an import of the rhel8 trees.  In the drop down menus when provisioning, it always comes up with rhel8 AppStream.  I would have expected BaseOS.  But, that might be a red herring.

In any case, current status is that the Fedora distros seem to install correctly, as does rhel7.9, but all the rhel8 distros hang.

[2021-06-14 18:44] shall1024 commented on #23
The first draft of the Dockerfiles can be found [here](https://github.com/OpenFabrics/fsdp_build/tree/main/dockerfiles); all it consists of is package lists, right now.

[2021-06-15 17:51] shall1024 commented on #49
Somehow, using a different link to get the RHEL 8 distros at least got us back to the point we were at with RHEL 8.2 where the installation is completed (no more hang) but we are missing the repository that contains "make", which is required by rhts-restraint. These are all "AppStream" versions, not BaseOS.

This is the next issue I will have to debug. I'm hoping if I can figure out the fix for on

[2021-06-17 18:15] shall1024 commented on #43
Currently looking into [this PAM module](https://github.com/yrro/pam_subuid) that may help us have subuids/subgids assigned automatically to accounts in our IPA database.

[2021-06-17 21:37] shall1024 commented on #49
Updates:

RHEL 8.1 has a bug that may have an upstream fix that I will need to apply.

I changed the RedHatEnterpriseLinux8 "per_osmajor/system" snippet a bit to get us closer to having the required packages for restraint-rhts (and probably other packages required for testing). The snippet now pulls the "AppStream" repo present on the RHEL8 DVD iso, and adds it to the install. I am not ready to ma

[2021-06-21 21:58] shall1024 commented on #43
PAM module seemed to be causing more issues to install than writing our own scripts to do this; there is now a script we can run upon creating new users that will automatically assign subuids/subgids without overlaps. We also assigned subuids and subgids to users that already exist. Ran tests to ensure that these subuids/subgids are usable by users and confirmed rootless podman is working. Closing

[2021-06-21 21:58] #43 closed

[2021-06-23 21:13] shall1024 commented on #50
RHEL 8.1 has been added and tested.

[2021-06-23 21:13] #50 closed

[2021-06-23 21:14] shall1024 commented on #49
RHEL 8.0 has been added and tested.

[2021-06-23 21:14] #49 closed

[2021-06-23 21:14] shall1024 commented on #48
RHEL 8.4 has been added and tested.

[2021-06-23 21:14] #48 closed

[2021-06-23 21:24] shall1024 commented on #19
Created a [PR](https://github.com/OpenFabrics/fsdp_beaker_snippets/pull/13) with the necessary changes for RHEL 8.0-8.4 to provision correctly.

[2021-06-28 14:23] #47 closed

[2021-07-01 17:41] #52 closed

[2021-07-01 17:44] shall1024 commented on #38
As of 7/1, snippets have been tested for all distros and are confirmed to:

- Add all repos required for test harnesses
- Add all repos required for the packages listed in the snippets we wrote
- Use the correct system_post snippet

All PRs regarding these issues have been accepted, so I am going to close this issue.

[2021-07-01 17:44] #38 closed

[2021-07-13 16:59] shall1024 commented on #29
VLANs are confirmed to be working as of the week of 7/4/2021; still no update on the issue above.

[2021-07-20 19:54] dledford opened #55 "Need to reinstall the proper opafm config so the opa fabric will come up"
@shall1024 @lylavoie

The config changes we made to the default opafm config file were lost during the builder rebuild.  We need to put them back in place.  Currently, the opa-fm package isn't installed on builder or I'd try to provide a patch.  But without the default file to patch against ;-)

1) Need to put the GID for the interface that's plugged into the switch in the file
2) Need to create a

[2021-07-20 20:16] dledford opened #56 "node-01 outstanding issues"
@shall1024 @lylavoie
After configuring the fsdp_setup scripts for node-01, these issues remain:

1) opa fabric down (see issue #55)
2) roce fabric down (unknown cause, this is a 100gig capable port so breakout cable shouldn't be the issue)
3) iwarp fabric down (see issue #29 and breakout cables)

[2021-07-21 19:09] shall1024 commented on #55
@dledford, opa-fm has ben reinstalled onto builder-00 with the old version of `opafm.xml`.

I can't remember off the top off my head if steps 1 and 2 have been completed as indicated above, this is what I will check next.

[2021-07-27 20:24] shall1024 opened #57 "Mellanox card in node-03 not connected anywhere"
Today when doing sanity checks on which cards were present in node-01 through node-10, I noticed there was a Mellanox MCX556A-ECAT 2-port 100G card that has no connections to it.

The documentation reflects this; according to the documentation it is not expected to be connected to anything (it wasn't even present in [ib_fabric.md](https://github.com/OpenFabrics/fsdp_docs/blob/main/ib_fabric.md), j

[2021-07-29 15:16] dledford commented on #57
We shouldn't have any unconnected cards.  Likely, it should be connected to
both the IB switch and the Ethernet switch and configured for RoCE on the
port connected to the Ethernet switch.

On Tue, Jul 27, 2021 at 4:25 PM shall1024 ***@***.***> wrote:

--
Doug Ledford ***@***.***>
GPG KeyID: B826A3330E572FDD
Key fingerprint = AE6B 1BDA 122B 23B4 265B  1274 B826 A333 0E57 2FDD

[2021-07-29 21:40] shall1024 commented on #57
Right now, there is a chance we have an extra 100G Ethernet cable, but we still are in need of one 100G IB cable.

[2021-07-29 21:45] shall1024 commented on #29
No new SONiC barefoot image has been generated since April, so I reinstalled an older version (#181) to the switch. Interfaces now actually appear with their current status on the switch.

The switch has been configured with the VLANs we want again, and they are, again, confirmed to be working.

[2021-08-02 16:03] shall1024 opened #58 "RHEL 8 Snippet Changes cause Installation to Fail"
The new snippets are causing RHEL8 installs/provisions to fail.

I have identified the following two issues:

1. The EPEL repo is causing issues in the install. This is unexpected, because RHEL7 also has this repo in its `per_osmajor/system/RedHatEnterpriseLinux7` section and this does not cause issues.
2. Moving the `sed` command that sets `gpgcheck=1` for the repositories we've added to `system_

[2021-08-02 16:19] dledford commented on #58
Regarding 1, is it just because of the gpgcheck, or something else about the epel repo causing problems?

Regarding 2, moving the snippet back will be fine.  All it really does is create two separate %post/%end segments in the kickstart, one that is out of place.  But, by being out of place, when Anaconda sanitizes the kickstart, it ends up appending the second, larger segment onto this very short

[2021-08-02 16:26] shall1024 commented on #58
Just attempted another provision with the `%post` section AND the epel repo, the epel repo causes the following error before installation can even begin:
[code]

This causes the installation to hang at this point and never complete.

[2021-08-02 16:29] shall1024 commented on #58
Currently trying a fix, will report back if it works.

[2021-08-02 21:53] shall1024 commented on #58
RHEL8 installs have been fixed. RHEL7 still needs to be tested again, but it seemed like those snippets were fine last week.

Fedora34 still seems to be having issues; need to figure this out tomorrow morning.

I will create a PR with the fixed snippets as soon as I've confirmed all distros work again.

[2021-08-03 14:32] shall1024 commented on #58
PR has been created [here](https://github.com/OpenFabrics/fsdp_beaker_snippets/pull/21).

Once the PR is accepted I will close the issue and restart the cron job that automatically pulls Beaker snippets.

[2021-08-05 15:16] dledford commented on #58
@shall1024
Pull request merged

[2021-08-05 15:16] #58 closed

[2021-08-05 15:17] dledford commented on #51
HPE iLO Advanced licenses for all 10 nodes have been ordered.  We did not order one for builder since it's a shared resource and we don't really want people logging into its iLO.

[2021-08-11 12:32] lylavoie commented on #51
iLO licenses arrived, we'll get those installed ASAP.  HPE did ship these as paper envelopes.

[2021-08-16 14:34] shall1024 opened #59 "500 Internal Server Error on creating new users in Beaker"
This issue stems from Afom's login issue we discussed over email.

When attempting to create a new user in Beaker, a 500 Internal Server Error is thrown.

If you login with using credentials from the LDAP server, Beaker is supposed to create a new user from the information given there, but instead, it throws a 500 Internal Server Error. This does NOT occur if a user that already exists tries to lo

[2021-08-16 15:37] shall1024 commented on #59
It seems like the Beaker code searches for users in LDAP while attempting to create accounts; if the account exists in the LDAP server then the error occurs, otherwise, it does not. (I tried creating a user with a username NOT registered via ipa manually and it worked).

[2021-08-16 17:01] shall1024 commented on #59
The problem was that the LDAP domain was incorrect in `server.cfg`, so enough information was made available to allow users already present in `ipa` to log in, but NOT to create new users that were registered in ipa.

I'll email Afom back and update our internal documentation in case this error comes up in the future.

[2021-08-16 17:01] #59 closed

[2021-08-17 15:04] lylavoie commented on #51
All systems have the iLO5 license installed and have been configured for LDAP authentication and authorization. Cluster users have login, remote console, power/restart, and virtual media access, IOL employees have administrator login with their LDAP user.

[2021-08-17 15:04] #51 closed

[2021-08-17 17:10] lylavoie commented on #57
Need to order 1 of each cable type (Ethernet and IB).

[2021-08-17 17:11] #46 closed

[2021-08-17 17:12] dledford commented on #46
User error on my part, closing.

[2021-08-17 17:12] lylavoie commented on #55
This has been completed.

[2021-08-17 17:12] #55 closed

[2021-08-17 17:14] #44 closed

[2021-08-17 17:14] dledford commented on #44
If you use the reserve workflow, this works.

[2021-08-17 17:16] #16 closed

[2021-08-17 17:16] #18 closed

[2021-08-17 17:17] #19 closed

[2021-08-17 17:19] dledford commented on #33
Until upstream adds support for more distros, which we'll want to pick up, we don't need to track the github repo our current install is working.

[2021-08-17 17:19] #33 closed

[2021-08-17 17:19] lylavoie commented on #20
builder should be setup for the public_html directory for homes / users.  @lylavoie will create an update documentation for how this is setup in the builders.md file.

[2021-08-17 17:23] lylavoie commented on #29
Need to confirm if the switch hardware is supported by Cumulus, and if so, see if Nvidia might be willing to provide a license for use in the cluster.  This can be done with a free trial version of the NOS.

[2021-08-17 20:06] shall1024 commented on #29
The free trial we discussed [here](https://www.nvidia.com/en-us/networking/cumulus-linux-free-trial/) does not appear to be applicable to real, physical hardware, only to VMs/the cloud.

[2021-08-17 23:02] dledford commented on #29
So, I just saw in one of the white papers that as of cumulous networks OS version 4.4, support for Broadcom chipsets has been removed.

[2021-08-19 21:06] shall1024 opened #62 "Handle location/creation of container image scripts"
The current idea is to use [build_containers.sh](https://github.com/OpenFabrics/fsdp_build/blob/testing/build_containers.sh) to build container images, once a day (maybe via a cron job), and to tag the container images by date (_date '+%Y.%m.%d'_).

From there, our scripts (in particular, [start_container.sh](https://github.com/OpenFabrics/fsdp_build/blob/testing/start_container.sh)) would choose

[2021-08-26 19:59] shall1024 opened #64 "Finish moving cards between nodes"
Per our discussion on 8-24-2021, I was tasked in moving some cards between nodes to attempt to balance out the technologies being tested on each node. (and to allow for space for the second bifurcated Mellanox card). I was only able to somewhat fix the issue due to the high number of RoCE cards.

This required making some changes to node-09, but it is currently in use and will be in use until afte

[2021-08-27 15:11] shall1024 opened #66 "Get build scripts to enough of a working state to merge into main"
The container image build scripts found on the [testing branch of fsdp_build](https://github.com/OpenFabrics/fsdp_build/tree/testing) are NOT in a state where they can be merged into main as of my last day, 8/27/2021.

Issues include:

- RHEL 7 and 8 use older versions of `gcc` that prevent tasks like kernel builds from being completed; not sure if this also implies vendor tests will have trouble

[2021-09-14 17:51] #20 closed

[2021-09-16 12:38] lylavoie opened #69 "Link to builders.md file"
The top-level README.md doesn't currently link to the builders.md file, so users won't easily find that documentation.

[2021-10-05 17:26] dledford opened #70 "Add cronjob to restart opafm regularly"
The opa-fm server appears to just go offline after some amount of time.  A regular cron job to restart the service should work around the problem for now.

[2021-10-05 19:20] lylavoie commented on #70
Added an entry to restart opafm.service every night at 2am Eastern USA time.

[2021-10-05 19:20] #70 closed

[2021-10-06 18:32] dledford opened #71 "Need to iLO and BIOS settings updates across most of the cluster plus two hardware changes unrelated to the possible upcoming card shuffle."
@lylavoie @JSpewock

A few settings need to be changed in the iLO interfaces.  I've tried setting them, but I'm only allowed to set them on some machines (due to a security oversight on those machines) and not allowed to set them on the machines properly configured.  I have been able to set these options on node-01, node-02, node-07, and node-08.  I couldn't set them on node-03 and node-04.  I did

[2021-10-07 18:19] lylavoie opened #72 "Move cards to created paired systems."
1 & 3 Node 9
* Slot 1 goes to node 4 (as marked)
* Slot 3 goes back to inventory

Node 5 Slot 1 & 3 goes into Node-9

Chelso into Node 5 (to match node 6)

After this, there should be pairs of machines that match.

[2021-10-07 18:41] dledford opened #74 "Restore IB switch config"
@lylavoie
Unfortunately, the switch specifically will not allow a multi-SWID configuration.  I tried a couple options to see if I could get it to accept it, and none worked.  In the process, it wiped the current config.  Please reload the config from backup.

[2021-10-12 01:57] #72 closed, assigned to lylavoie

[2021-10-12 17:25] #64 closed, assigned to lylavoie

[2021-10-12 17:31] dledford opened #76 "Pull extra cables and reuse where possible"
@lylavoie
The extra cables installed right now are:

Switch Port | Sub Port | Connected To
-----|-----|-----
2 | N/A | node-01 Intel E810-CQDA2 100G 2-port RoCE Port 2
5 | N/A | node-02 Intel E810-CQDA2 100G 2-port RoCE Port 2
17 | N/A | node-07 Broadcom 57508 200G 1-port RoCE Port 2
19 | N/A | node-08 Broadcom 57508 200G 1-port RoCE Port 2

If any of those are 100gig FS cables, we should be able

[2021-10-14 17:18] lylavoie commented on #76
Will check this on Monday, October 18, I'm remote this week week.

Also need to check node-09 / node-10 QLogic FastLinQ QL41000 50G, which likely does not have the right break out cables conneted.

[2021-10-14 17:34] dledford opened #78 "node-06 is having issues with the Broadcom card"
Might need reseating or other more drastic measures.  Kernel messages:

[code]

[2021-10-14 17:52] lylavoie commented on #71
Item 1 - iLO hostnames are fully set in the 10 nodes.

Items 2 / 3 - I'm not sure how to block the F9 tools in HPE.  I've selected an options that should require login for the RBSU tools, but it seems to have no effect when working in the virtual console.

Item 4 - Do we know which systems need this configuration, or do we need to check each system in BIOS (slower option)?

Item 5 - As far as I ca

[2021-10-14 18:40] #29 closed

[2021-10-14 18:43] lylavoie opened #79 "Configure ROCE / IW VLANs on SONIC switch and builder."
Configure the following on the SONIC Switch / Builder-00.

ROCE ports untagged 40, tagged 43 & 45
IWARP port untagged 50, tagged 51 & 52
combined ports (both ROCE & IWARP) - untagged 40, tagged 43, 45, 50, 51, 52

43 per priority flow control on pbit-3
45 per priority flow control on pbit-5

[2021-10-14 21:09] #71 closed, assigned to lylavoie

[2021-10-19 20:40] lylavoie opened #81 "Node 7 Broadcom 57508 200G Port 1 not up"
Card has been re-seated and cabling looks good (been check in node 8).

[2021-10-21 18:03] #76 closed, assigned to nobody

[2021-10-21 18:03] #78 closed, assigned to nobody

[2021-10-21 18:03] #79 closed, assigned to lylavoie

[2021-11-04 14:27] lylavoie commented on #81
I've seen this card come up after a hard reboot / power cycle of the server, so something is suspect.

[2021-11-04 18:53] dledford opened #84 "Mellanox bifurcated IB devices are not getting IB link from SM"
I'm going to contact Mellanox about the issue

[2021-11-04 18:54] lylavoie commented on #40
@JSpewock to run a hardware scan on node-04 to confirm the logs are working (take back machine from Doug)

[2021-11-04 19:06] lylavoie opened #85 "QLogic FastLinQ QL41212 25G are not linking"
Nodes 09 and 10 QLogic ports, 25G, are not linking up with the Edgecore Switch.

[2021-11-04 22:07] lylavoie commented on #85
The config on the switch had to enable RS FEC for these ports.  All other break out ports needed this disabled to work.  All 4 lines up on nodes 09 / 10 are up and running.

[2021-11-04 22:07] #85 closed

[2021-11-05 13:39] lylavoie commented on #81
Firmware upgrade on the Broadcom card to the latest version seems to have fixed the issue, comes right up.  Node-08 was also upgraded to this same version, so the cards are still / now identical again.  Node-07 is still showing up as a 1-port card compared to Node-08, which is strange, but it looks to be working and ROCE is enabled on both systems.

[2021-11-05 13:39] #81 closed

[2021-11-05 13:42] lylavoie opened #86 "Move second Mellanox cards out of nodes 7 & 8"
To help keep things simple for selecting NICs / fabrics, limit systems to not have two cards from the same vendor connected to the same fabric, i.e. no system with two Mellanox cards both connected to ROCE.

Move PCI-3 Mellanox 653106A 200G 2-port VPI from Nodes 7 & 8 to Nodes 5 & 6
This move will happen after the upcoming demos, since things are working / stable right now.

[2021-12-02 19:04] lylavoie commented on #40
@JSpewock finished this setup.  Actually accomplished via a bind mount, the beaker transfer daemon didn't work.

[2021-12-02 19:04] #40 closed

[2021-12-02 19:06] lylavoie commented on #28
Blocked by #86

[2021-12-03 20:45] #86 closed

[2021-12-14 18:15] JSpewock commented on #23
Edited Dockerfiles can be found [here](https://github.com/OpenFabrics/fsdp_build/tree/testing/dockerfiles). These are all functioning as of now but there were a few dependencies I changed around. Like, for example, fedora31 said it couldn't find python3-pyverbs and then in both rhel 7 and 8 dockerfiles I just have it doing a group install of Development tools rather than specific dependencies. Uns

[2022-02-02 19:26] dledford commented on #28
I can't set the pools, permission problems.  Reassigning to @JSpewock

[2022-02-02 19:28] dledford opened #88 "Beaker snippets not updating"
@JSpewock
The beaker snippets are not getting updated from the fsdp_beaker_snippets repo.  I think when Sarah set it up, she had the cron job pulling to a local git repo, but then there was a manual copy step to put them in the actual directory beaker looks in or something like that.  Not sure, all I know is the changes I've made aren't showing up in the installs.

[2022-02-02 20:30] JSpewock commented on #88
That's strange, all I changed about the cron job was the timer on it so the actual commands it executes shouldn't have changed. I'll look into it

[2022-02-02 20:50] JSpewock commented on #88
@dledford This issue is resolved, it ended up being the directory `/etc/fsdp_beaker_snippets` which is the local git repository that pulls down the changes from the remote repo had the "rhel8_fixes" branch checked out so that's where it was pulling from instead of main.

[2022-02-02 20:50] #88 closed

[2022-02-02 20:52] dledford commented on #88
@JSpewock You might need to see if there are any fixes on the rhel8_fixes branch that aren't in main.  If there are, we'll need to get them pulled into main.

[2022-02-02 21:02] JSpewock commented on #88
rhel8_fixes looks like a dead branch essentially. It's 0 commits ahead of main and 5 behind so it's probably fine to even scrap it at this point

[2022-02-02 21:18] JSpewock opened #89 "Update SONIC OS"
Need to upgrade the operating system on the sonic switches which should hopefully help with their crashing issues.

[2022-02-02 21:20] #23 closed

[2022-02-02 21:20] #66 closed

[2022-02-02 21:21] #62 closed

[2022-02-02 21:28] JSpewock opened #90 "Ensure that the beaker snippets cron job can't fail silently"
As of now just simply with the way that cron works it's very possible that the script being used to pull new snippets (located at `/opt/scripts/pull_snippets.sh` on beaker.iol.unh.edu) could fail to pull down changed from the remote repository and cron would not report it. This script isn't very likely to fail, but just as insurance in case it does, something should be put in place to handle an er

[2022-02-03 21:46] JSpewock commented on #28
I filled out all of the pools except for the advanced ones. I wasn't 100% sure which cards applied to these categories, but I would assume the mlx5-advanced cards would be the Mellanox ConnectX-6 cards and the bnxt-advanced cards would be the Broadcom 57508 ones. @dledford can you confirm this?

[2022-02-04 22:55] JSpewock commented on #90
Edited `/opt/scripts/pull_snippets.sh` so that now if any of the three commands that are used inside of it exit with any code that isn't 0, it sends an email to our emailing group that details the error codes as well as the output of every command.

[2022-02-04 22:55] #90 closed

[2022-02-08 18:07] #28 closed

[2022-02-08 18:08] lylavoie opened #91 "Upgrade beaker server OS"
Normal OS upgrade, will require downtime in the cluster.

[2022-02-08 18:14] lylavoie commented on #91
Send an email to the FSDP WG mailing list, with 1 week notice, and another 1 hour before the maintenance window start, to let he team know the system(s) will be down / off-line.

[2022-02-22 18:04] dledford commented on #91
Update done

[2022-02-22 18:04] #91 closed

[2022-02-25 23:12] JSpewock commented on #89
SONiC OS was upgraded successfully.

[2022-02-25 23:12] #89 closed

[2022-03-08 17:44] lylavoie opened #92 "Update OpenVPN config to align with latest releases"
OpenVPN changed the compression requirements.  Update the server and VPN template to align with these updates.

[2022-03-08 17:59] dledford opened #93 "Add Fedora 35 to distro list"

[2022-03-08 18:00] dledford opened #94 "Add RHEL8.5 to distro list"

[2022-03-08 23:00] #94 closed, assigned to nobody

[2022-03-08 23:00] #93 closed

[2022-03-09 15:50] lylavoie commented on #92
This has been completed.  No changes should be required for existing users.  New users will receive an update VPN config, that includes the correct (newer) cipher, per the latest openvpn configuration.

[2022-03-09 15:50] #92 closed

[2022-03-22 17:21] lylavoie opened #95 "FSDP Setup not being run after successful beaker install"
FSDP setup doesn't look to be run during the kick start install.  The following (from the kick-start file created by Beaker) should be running the setup scripts.

[code]

[2022-03-22 17:23] lylavoie opened #96 "Installing RHEL 8.4 and &.5, kick-start file not being used"
Installer is not using / loading the kick-start file, which causes the installer to attempt a "manual" install.

[2022-03-22 22:07] JSpewock commented on #96
Added a new line to the top of the rhel8 snippet that will hopefully cause the kickstart file to properly activate and fix this issue.

[2022-03-25 20:08] #96 closed

[2022-03-29 17:06] dledford commented on #95
This should be fixed.

[2022-03-29 17:06] #95 closed

[2022-03-29 17:07] lylavoie opened #97 "Create beaker snippets for Fedora 35"

[2022-03-29 22:29] #97 closed

[2022-04-19 14:46] lylavoie opened #98 "Add Fedora Rawhide to the list of distros in Beaker"

[2022-04-19 17:08] lylavoie commented on #98
For the workshop (i.e. in April), we can just do a snapshot (i.e. download the latest available ISO and import that). Longer in the future, we will figure out a way to setup a sync on the real repo (i.e. we host an internal mirror).

[2022-04-19 17:09] lylavoie commented on #98
Also setup the OS major snippets, copying package list from Fedora 35.

[2022-04-19 23:01] JSpewock commented on #98
I added a Fedora Rawhide snapshot from April 16th which provisions and works fine for now. Had to add a separate system_post snippet that allows for root ssh login on hosts that provision Fedora Rawhide.

[2022-04-20 22:04] #98 closed

[2022-05-03 17:10] lylavoie opened #99 "Verify beaker harness is available for Rawhide"
Veronika reported: it looks like the rawhide import is not complete as the harness for the distribution is missing. The jobs submissions is still failing for us with Failed to provision recipeid 1020, Failed to find repo for harness

[2022-05-03 21:45] JSpewock commented on #99
This issue should be fixed, I've updated the test harness repositories for our Beaker instance and it now includes Rawhide

[2022-05-04 18:13] lylavoie commented on #99
Veronika Kabátová commented on a discussion:

Thank you! The import looks good now, the installation starts. However, it gets stuck on storage configuration checks :/

Here is a test job with a few recipes as an example: https://beaker.ofa.iol.unh.edu/bkr/jobs/795

[2022-05-04 22:00] JSpewock commented on #99
I managed to rerun the job and get to to move past this point of error and timeout. The problem ended up being the lines:

[code]
 The installation would make it to this stage and try to grab the repo and just timeout from there for what I can only assume was an error accessing the repo. Seems like it would try to grab it and fail silently until the beaker watchdog ran out.

[2022-05-05 11:03] veruu commented on #99
Thank you! We have removed that from the jobs but the retry picked up the old xml to submit :see_no_evil: I have verified the following ones don't have the harness links, they do complete the installation:

https://beaker.ofa.iol.unh.edu/bkr/recipes/1064
https://beaker.ofa.iol.unh.edu/bkr/recipes/1069

These runs do get stuck too, unfortunately. Not sure yet if it's something machine related since

[2022-05-05 12:16] veruu commented on #99
Quick update: Bruno did have an idea with disabling the mgag200 module and that did get us further:

https://beaker.ofa.iol.unh.edu/bkr/recipes/1079

And now we have a fancy kernel panic we don't recognize on our hands

[2022-05-10 20:41] JSpewock commented on #99
Looking through the console logs for this failed job it looks like the rdma_setup.sh script is failing to run and throwing many errors just before the reboot that ends in a kernel panic, I'm not sure it even makes it to the post section you added in your job. The errors from the script all resemble `/etc/sysconfig/network-scripts/*: No such file or directory`

[2022-05-17 17:01] dledford opened #100 "Add RHEL8.6 to beaker"

[2022-05-17 17:01] dledford opened #101 "Add RHEL9.0 to beaker"

[2022-05-17 17:01] dledford opened #102 "Add Fedora36 final to beaker"

[2022-05-18 17:47] #100 closed, assigned to JSpewock

[2022-05-20 20:01] JSpewock opened #103 "rdma_setup.sh failing and causing kernel panic"
In recent CKI testing it has been found that on some occasions the `rdma_setup.sh` script fails producing many errors that resemble `/etc/sysconfig/network-scripts/*: No such file or directory`. After this setup script fails, the system restarts and ends in a kernel panic. An example of a job where this setup script fails can be found [here](https://beaker.ofa.iol.unh.edu/bkr/recipes/1079#installa

[2022-05-23 17:22] dledford opened #104 "Need to update rdma_setup.sh scripts to use NetworkManager for managing connections"
The files in /etc/sysconfig/network-scripts are no longer present or usable in Fedora Rawhide, need to update the rdma-setup code to manage the file using NetworkManager approved methods instead.

[2022-05-23 17:26] dledford commented on #103
There are two separate issues here.  I'm going to open a new issue for one and we can handle the other in this thread.  The first issue is that the rdma_setup.sh scripts rely on the system using the old SysV init network files and Fedora rawhide (and maybe Fedora 36 too) have switched to NetworkManager connections without the old SysV init network files (also known as rhconfig network files).  Tha

[2022-06-08 21:31] JSpewock commented on #103
I just updated the Rawhide image we were using and provisioned a system with it which seems to run fine. I'm unsure if this would fix the kernel panic issues but it might be worth a try if it was a common problem people were facing

[2022-06-08 21:33] JSpewock commented on #99
@veruu It's seeming like the kernel panic and the setup scripts failing are unrelated issues. I just installed the latest Rawhide image from June 1st in hopes that potentially some other people may have faced the same kernel panic issues and it would have been patched but I didn't read any of the release notes to verify this

[2022-06-08 21:34] JSpewock opened #105 "Beaker isn't reporting console logs for jobs"

[2022-06-09 10:49] veruu commented on #99
@JSpewock thanks for the information! We actually had a similar idea to rerun a test earlier this week but instead figured out the VPN config on the runners got busted, so we have to fix that up first :see_no_evil:

[2022-06-14 17:12] #101 closed

[2022-06-14 17:13] dledford opened #106 "Update beaker version for new harnesses"
Need to update the beaker version in order to get support for Fedora 36 and RHEL9 test harnesses.

[2022-06-14 17:17] dledford commented on #99
We think adding selinux=0 to the default kernel command line for rawhide is likely to resolve the kernel panic and get things moving forward on this topic again.  @JSpewock will try the command line option and see if that resolves the kernel panic.

[2022-06-15 14:07] JSpewock commented on #105
a simple conserver restart fixed this

[2022-06-15 21:21] JSpewock commented on #99
With the addition of selinux=0 it seems like it's no longer throwing kernel panics when I provision systems but I did notice some weird activity on node-05 in testing. Seems to get stuck part of the way through installations but only around 50% of the time. I'll have to look more into what could be causing it, but the other nodes I tested such as node-01, node-06, and node-07 all provisioned clean

[2022-06-15 21:25] JSpewock opened #107 "Node-05 is acting strange"
Upon trying to test the new Rawhide image I noticed that node-05 is acting strange. In jobs 849 and 845 it seemed to hang during installation, but this only seems to happen about 50% of the time.

[2022-06-21 18:55] JSpewock commented on #103
Adding selinux=0 to the kernel options for hosts fixed the kernel panic that was occurring on hosts

[2022-06-21 18:55] #103 closed

[2022-06-23 20:53] JSpewock commented on #99
Upon doing more testing, it doesn't look like we're rid of kernel panics yet. It's no longer an audit panic but it seems like across multiple hosts, not just node-05 like I had originally thought, it throws a fortify_panic because of some lib/string methods but only sometimes. I'll have to look into it some more

[2022-06-23 20:53] JSpewock commented on #107
It's not just node-05, other nodes are also having the same problems. closing issue to avoid redundancy

[2022-06-23 20:53] #107 closed

[2022-06-27 14:57] lylavoie opened #108 "Auto-update process for Rawhide"
Deploy a mechanism to automatically update / sync with the latest Rawhide, either via period refresh of the rawhide iso or deploy the rawhide "distro" as an actual mirror of the repos.

[2022-07-12 17:04] lylavoie commented on #108
This has been completed, beaker is installing / importing directly from the upgrade.

[2022-07-12 17:04] #108 closed

[2022-08-30 14:32] mh21 commented on #99
so we got the VPN tunnel setup on the CKI sorted, and now we are back at installations failing, e.g. https://beaker.ofa.iol.unh.edu/bkr/recipes/1155 🙈 - logs at http://beaker.ofa.iol.unh.edu/beaker/logs/recipes/1+/1155/console.log

[2022-09-01 14:37] JSpewock commented on #99
@mh21 I'm not sure exactly what caused that job to fail but it looks like jobs 883-899 all provisioned fully and made it to login, I think they just aborted due to an issue of the "reservesys" task not reporting back after the timer ends so they end up going until the watchdog timer runs out. However, I think it might be a good idea, if at all possible, to move off of rawhide to do this testing as

[2022-09-02 14:04] veruu commented on #99
Hi @JSpewock , based on the console logs @mh21 sent me the problem doesn't seem to be caused by rawhide but by not having restraint installed on the host. It also appears the regular Fedora repos are enabled on the hosts to require gpg checks, but the keys are not added which would prevent installation from the regular repos too:

[code]

For the restraint installation, can you enable the beaker-h

[2022-09-15 16:47] JSpewock commented on #99
@veruu I had thought GPG checks were automatically disabled on the yum repositories through the snippets but it wasn't working for the Fedora-Everything repo. This has been fixed and it now shouldn't check for GPG keys and I believe the harness repo is already added upon provision as when I provision a host with Rawhide it's already present so we could add it again in the snippets but this would e

[2022-09-20 13:08] mh21 commented on #99
Retriggering a job in https://beaker.ofa.iol.unh.edu/bkr/recipes/1192 via https://gitlab.com/redhat/red-hat-ci-tools/kernel/cki-ofa-pipelines/-/jobs/3053933163, it doesn't seem like restraint is actually installed 🤔

[2022-09-22 16:55] JSpewock commented on #99
I did some looking into this and it looks like in your job under ks_meta you have the line `harness='restraint-rhts beakerlib-redhat'` and what this does is it adds the line `$package_command -y install restraint-rhts beakerlib-redhat` to the kickstart file which can be seen in the [adding an alternate harness documentation](https://beaker-project.org/docs/alternative-harnesses/index.html#alternat

[2022-09-26 11:05] veruu commented on #99
Thanks for looking into that, we changed the packages and let's see how it goes now :crossed_fingers:

[2022-09-27 13:33] mh21 opened #109 "VPN certificate expired"
Trying to connect to VPN, I get messages about expired certificates today since today, and connections fail:

[code]

[2022-09-29 14:53] JSpewock commented on #109
I regenerated the certificate so this should be fixed now. Keys verify when connecting with my personal user.

[2022-09-29 14:53] #109 closed

[2022-10-18 17:23] dledford opened #110 "Replace upstream repo in beaker with a local repo so we can add restraint releases not pushed upstream"
The upstream beaker-project.org/yum/harness group of repos is out of date and doesn't support the latest releases.  Copy into a local repo and reconfigure the beaker or beaker snippets, whichever is needed, to point at the local repo instead of the upstream repo.

[2022-11-08 21:13] JSpewock commented on #110
This is already done for us through the local directory created by beaker at `/var/www/beaker/harness/`. This directory is local on the beaker server and is served already so adding new restraint releases should be as easy as adding the packages we need to this directory and beaker will point to them by default.

[2022-11-08 21:14] JSpewock commented on #106
New issue has been created for replacing the upstream harnesses with our own

[2022-11-08 21:14] #106 closed

[2022-11-08 22:09] JSpewock opened #111 "RHEL 9 provisions but fails to start check-install task"
With the new locally added harness, when hosts are provisioned with RHEL 9 the OS is installed on the host and the installation task completes but it then stops and fails to start running the "check-install" task.

[2022-11-29 18:18] JSpewock opened #112 "Move beaker snippets crontab to /etc/crontab"